<template>
  <div class="app-container">
    <el-card class="box-card">
      <div slot="header">
        <h4>Order Manage</h4>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-form ref="postForm" :inline="true">
          <el-form-item prop="title" :span="8" label="Order ID">
            <el-input type="text" v-model="filterForm.order_vendor_id" />
          </el-form-item>
          <el-form-item prop="title" :span="8" label="Order Status">
            <el-select clearable  v-model="filterForm.order_status" placeholder="Status" style="width: 100%">
              <el-option
                v-for="(item, key) in dataStatus"
                :key="key"
                :label="item.name"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="title" :span="8" label="Select Date">
            <el-date-picker
              v-model="filterForm.date"
              type="datetimerange"
              range-separator="To"
              start-placeholder="Start date"
              end-placeholder="End date">
            </el-date-picker>

          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="listOrder">Filter</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-table
          v-loading="loading"
          :data="orders"
          style="width: 100%"
          :row-class-name="tableRowClassName"
        >
          <el-table-column
            prop="vendor_id"
            label="ORDER ID"
          />
          <el-table-column
            label="Full Name"
          >
            <template slot-scope="scope">
              {{ scope.row.first_name }}  {{ scope.row.last_name }}
            </template>
          </el-table-column>

          <el-table-column
            prop="order_total"
            label="Order Total"

          />
          <el-table-column
            prop="order_tax"
            label="Total Tax"

          />
          <el-table-column
            prop="order_refund"
            label="Total Refund"

          />
          <el-table-column
            prop="total"
            label="Total (total+tax-refund) "

          />
          <el-table-column
            prop="order_status"
            label="Order Status"

          >
            <template slot-scope="scope">
              <el-tag  v-if="scope.row.is_pay === 0" :type="getStatusPaymentTag(scope.row.order_status)">
                {{ getStatusPayment(scope.row.order_status) }}
              </el-tag>
            </template>
          </el-table-column>
          <el-table-column
            prop="commission_user"
            label="Commission User"

          >
            <template slot-scope="scope">
              {{ scope.row.commission_user }} %
            </template>
          </el-table-column>
          <el-table-column
            prop="order_commission"
            label="Total Commission"
            width="180"
          >
            <template slot-scope="scope">
              {{ scope.row.order_commission }}
              <el-tag  v-if="scope.row.is_pay === 0" type="danger">
                Un Paid
              </el-tag>
              <el-tag  v-if="scope.row.is_pay === 1" type="success">
                Paid
              </el-tag>
            </template>
          </el-table-column>
          <el-table-column  prop="created_at" label="Created At"/>
        </el-table>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-pagination
          background
          layout="prev, pager, next"
          :total="total"
          :page-size="perPage"
          :current-page="currentPage"
          @current-change="changePage"
        />
      </div>
    </el-card>
    <el-dialog
      title="Order log"
      :visible.sync="dialogVisible"
      width="70%"
      >
      <el-timeline>
        <el-timeline-item
          v-for="(activity, index) in dataLog"
          :key="index"
          :timestamp="activity.date">
          <h1>The Swiss Hemp System</h1>
          Order Status : <el-tag  :type="getStatusPaymentTag(activity.order_status)">
                          {{ getStatusPayment(activity.order_status) }}
                        </el-tag>
          <br/>
          Order Total : {{activity.order_total}}<br/>
          Order Tax : {{activity.order_tax}}<br/>
          Order Refund : {{activity.order_refund}}<br/>
        </el-timeline-item>
      </el-timeline>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { listData, listNote } from '@/api/order'
import orderStatusData from './order_status.json'

export default {
  name: 'Order',
  data() {
    return {
      orders: [],
      loading: true,
      currentPage: 1,
      perPage: 1,
      total: 1,
      dialogVisible: false,
      filterForm: {
        order_status: '',
        order_vendor_id: '',
        date: '',
      },
      dataLog: [],
      dataStatus: orderStatusData,
    }
  },
  created() {
    this.listOrder()
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 1) {
        return 'warning-row'
      } else if (rowIndex === 3) {
        return 'success-row'
      }
      return ''
    },
    listOrder(page = 1) {
      const VueThat = this
      const params = {
        page: page,
        order_status: this.filterForm.order_status,
        order_vendor_id: this.filterForm.order_vendor_id,
        date: this.filterForm.date
      }
      listData(params).then((res) => {
        const { orders } = res
        VueThat.currentPage = orders.current_page
        VueThat.perPage = orders.per_page
        VueThat.total = orders.total
        VueThat.orders = orders.data
        VueThat.loading = false
      })
    },
    getStatusPayment(status) {
      return orderStatusData[status].name
    },
    getStatusPaymentTag(status) {
      return orderStatusData[status].tag
    },
    viewLog(id) {
      listNote(id).then((res) => {
        const {note} = res
        if(note.length > 0) {
          note.forEach((item) => {
            let dataNote = JSON.parse(item.note)
            this.dataLog.push({
              date: item.created_at,
              order_refund: dataNote.order_refund,
              order_status: dataNote.order_status,
              order_tax: dataNote.order_tax,
              order_total: dataNote.order_total,
            })
          })
        }
        this.dialogVisible = true
      })
    },
    handleClose() {

    },
    changePage(page) {
      this.listOrder(page)
    }

  }
}
</script>
