<template>
  <el-table
    :data="dataOrder"
    style="width: 100%"
  >
    <el-table-column
      prop="vendor_id"
      label="ORDER ID"
    />
    <el-table-column
      label="Full Name"
    >
      <template slot-scope="scope">
        {{ scope.row.first_name }}  {{ scope.row.last_name }}
      </template>
    </el-table-column>

    <el-table-column
      prop="order_total"
      label="Order Total"

    />
    <el-table-column
      prop="order_tax"
      label="Total Tax"

    />
    <el-table-column
      prop="order_refund"
      label="Total Refund"

    />
    <el-table-column
      prop="total"
      label="Total (total+tax-refund) "

    />

    <el-table-column
      prop="commission_user"
      label="Commission User"

    >
      <template slot-scope="scope">
        {{ scope.row.commission_user }} %
      </template>
    </el-table-column>
    <el-table-column
      prop="order_commission"
      label="Total Commission"
      width="180"
    >
      <template slot-scope="scope">
        {{ scope.row.order_commission }}
        <el-tag  v-if="scope.row.is_pay === 0" type="danger">
          Un Paid
        </el-tag>
        <el-tag  v-if="scope.row.is_pay === 1" type="success">
          Paid
        </el-tag>
      </template>
    </el-table-column>
    <el-table-column  prop="created_at" label="Created At"/>

  </el-table>
</template>

<script>
import {listData} from "@/api/order";

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        success: 'success',
        pending: 'danger'
      }
      return statusMap[status]
    },
    orderNoFilter(str) {
      return str.substring(0, 30)
    }
  },
  data() {
    return {
      list: null,
      dataOrder: []
    }
  },
  created() {
    listData({
      page: 1,
      limit: 10
    }).then((res) => {
      const {data} = res.orders
      this.dataOrder = data
    })
  },
  methods: {

  }
}
</script>
