<template>
  <el-form>
    <el-form-item label="Name">
      <el-input v-model="user.name" :disabled="true" />
    </el-form-item>
    <el-form-item label="Email">
      <el-input v-model="user.email" :disabled="true" />
    </el-form-item>
    <el-form-item label="Roles">
      {{ user.roles }}
    </el-form-item>
    <el-form-item label="Commission">
      <el-input v-model="user.commission" :disabled="true" />
    </el-form-item>
    <el-form-item label="Ref Code">
      <div style="margin: 27px 0px; clear: both">
        <a :href="linkAff"><b>https://theswisshemp.com/?ref={{ user.ref_code }}</b></a>
        <el-button style="margin-left: 10px" type="success" icon="el-icon-copy-document" circle @click="copyUrl"></el-button><br/>
      </div>
      <el-input v-model="user.ref_code" :disabled="true" />
    </el-form-item>
    <el-form-item label="Coupon Referral">
      <el-input v-model="user.coupon_referral" :disabled="true" />
    </el-form-item>
    <el-form-item label="Cookie Duration">
      <el-input v-model="user.cookie_duration" :disabled="true" />
    </el-form-item>
    <el-form-item label="Password">
      <el-input v-model="password" type="password" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submit">Update</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  import {updateProfile} from '@/api/user'
export default {
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          name: '',
          email: '',
          role: ''
        }
      }
    }
  },
  data() {
    return {
      password: ''
    }
  },
  computed: {
    linkAff: function(){
      return 'https://theswisshemp.com/?ref='+this.user.ref_code
    }
  },
  methods: {
    submit() {
      updateProfile({
        password: this.password
      }).then((res) => {
        this.$message({
          message: 'User information has been updated successfully',
          type: 'success',
          duration: 5 * 1000
        })
      })
    },
    async copyUrl() {
      await navigator.clipboard.writeText(this.linkAff);
      this.$message({
        type: "success",
        message: 'Copy Link Aff Success'
      })
    }
  }
}
</script>
