<template>
  <el-row :gutter="40" class="panel-group">
    <el-col :xs="40" :sm="40" :lg="40" class="card-panel-col">
      <div class="block">
        <span class="demonstration">Default</span>
        <el-date-picker
          v-model="date_range"
          type="daterange"
          range-separator="To"
          start-placeholder="Start date"
          end-placeholder="End date"
        />
        <el-button type="primary" @click="getReportData">Filter</el-button>
      </div>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-people">
          <svg-icon icon-class="link" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            VISIT
          </div>
          <count-to :start-val="0" :end-val="view_total" :duration="2600" class="card-panel-num" />
        </div>
      </div>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-people">
          <svg-icon icon-class="user" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            Total Order COMPLETTED
          </div>
          <count-to :start-val="0" :end-val="total_order" :duration="2600" class="card-panel-num" />
        </div>
      </div>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-people">
          <svg-icon icon-class="get-money" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            Conversation Rate
          </div>
          <span data-v-0aecaf5d="" class="card-panel-num">
            {{ convertRate }}%
          </span>
        </div>
      </div>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-people">
          <svg-icon icon-class="get-money" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            Total Commission
          </div>
          <count-to :start-val="0" :end-val="total_commission" :duration="2600" class="card-panel-num" />
        </div>
      </div>
    </el-col>
    <el-col :xs="40" :sm="40" :lg="40" class="card-panel-col">
      <div class="block" style="margin-top: 40px">
        <el-table
          v-loading="loading"
          :data="orders"
          style="width: 100%"
          :row-class-name="tableRowClassName"
        >
          <el-table-column
            prop="vendor_id"
            label="ORDER ID"
          />
          <el-table-column
            label="Full Name"
          >
            <template slot-scope="scope">
              {{ scope.row.first_name }}  {{ scope.row.last_name }}
            </template>
          </el-table-column>

          <el-table-column
            prop="order_total"
            label="Order Total"
          />
          <el-table-column
            prop="order_tax"
            label="Total Tax"
          />
          <el-table-column
            prop="order_refund"
            label="Total Refund"
          />
          <el-table-column
            prop="total"
            label="Total (total+tax-refund) "
          />
          <el-table-column
            prop="order_status"
            label="Order Status"
          >
            <template slot-scope="scope">
              <el-tag v-if="scope.row.is_pay === 0" :type="getStatusPaymentTag(scope.row.order_status)">
                {{ getStatusPayment(scope.row.order_status) }}
              </el-tag>
            </template>
          </el-table-column>
          <el-table-column
            prop="commission_user"
            label="Commission User"
          >
            <template slot-scope="scope">
              {{ scope.row.commission_user }} %
            </template>
          </el-table-column>
          <el-table-column
            prop="order_commission"
            label="Total Commission"
            width="180"
          >
            <template slot-scope="scope">
              {{ scope.row.order_commission }}
              <el-tag v-if="scope.row.is_pay === 0" type="danger">
                Un Paid
              </el-tag>
              <el-tag v-if="scope.row.is_pay === 1" type="success">
                Paid
              </el-tag>
            </template>
          </el-table-column>
          <el-table-column prop="created_at" label="Created At" />
          <el-table-column
            fixed="right"
            label=""
          >
            <template slot-scope="scope">
              <el-button type="primary" @click="viewLog(scope.row.vendor_id)">View Log</el-button>

            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-pagination
          background
          layout="prev, pager, next"
          :total="total"
          :page-size="perPage"
          :current-page="currentPage"
          @current-change="changePage"
        />
      </div>
    </el-col>
  </el-row>
</template>
<script>
import { reportMe } from '@/api/user'
import { listData } from '@/api/order'
import CountTo from 'vue-count-to'
import orderStatusData from '@/views/order/order_status.json'
export default {
  name: 'Report',
  components: {
    CountTo
  },
  data() {
    return {
      dataReport: [],
      view_total: 0,
      total_order: 0,
      total_commission: 0,
      from: '',
      to: '',
      date_range: '',
      currentPage: 1,
      perPage: 1,
      total: 1,
      orders: [],
      loading: true
    }
  },
  computed: {
    convertRate() {
      console.log(this.total_order)
      if (this.total_order === 0) {
        return 0
      }
      const totalView = (this.view_total === 0) ? 1 : this.view_total
      return Math.round((this.total_order / totalView) * 100)
    }
  },
  created() {
    this.getReportData()
  },
  methods: {
    getReportData() {
      let from = ''
      let to = ''
      console.log(this.date_range.length, this.date_range)
      if(this.date_range !== '' && this.date_range.length === 2) {
        from = this.formatDate(this.date_range[0])
        to = this.formatDate(this.date_range[1])
      }
      console.log(from, to)
      reportMe({
        from: from,
        to: to
      }).then((res) => {
        const { view_total, total_commission, total_order, from, to } = res.data
        this.view_total = view_total
        this.total_commission = total_commission
        this.total_order = total_order
        this.from = from
        this.to = to
        this.date_range = [
          new Date(from).toUTCString(),
          new Date(to).toUTCString()
        ]
        this.listOrder()
      })
    },
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 1) {
        return 'warning-row'
      } else if (rowIndex === 3) {
        return 'success-row'
      }
      return ''
    },
    listOrder(page = 1) {
      const VueThat = this
      const params = {
        page: page,
        from: this.from,
        to: this.to
      }
      listData(params).then((res) => {
        const { orders } = res
        VueThat.currentPage = orders.current_page
        VueThat.perPage = orders.per_page
        VueThat.total = orders.total
        VueThat.orders = orders.data
        VueThat.loading = false
      })
    },
    getStatusPayment(status) {
      return orderStatusData[status].name
    },
    getStatusPaymentTag(status) {
      return orderStatusData[status].tag
    },
    changePage(page) {
      this.listOrder(page)
    },
    formatDate(date) {
      var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2)
        month = '0' + month;
      if (day.length < 2)
        day = '0' + day;

      return [year, month, day].join('-');
    }
  }
}
</script>

<style lang="scss" scoped>
  .panel-group {
    margin-top: 18px;

    .card-panel-col {
      margin-bottom: 32px;
    }

    .card-panel {
      height: 108px;
      cursor: pointer;
      font-size: 12px;
      position: relative;
      overflow: hidden;
      color: #666;
      background: #fff;
      box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
      border-color: rgba(0, 0, 0, .05);

      &:hover {
        .card-panel-icon-wrapper {
          color: #fff;
        }

        .icon-people {
          background: #40c9c6;
        }

        .icon-message {
          background: #36a3f7;
        }

        .icon-money {
          background: #f4516c;
        }

        .icon-shopping {
          background: #34bfa3
        }
      }

      .icon-people {
        color: #40c9c6;
      }

      .icon-message {
        color: #36a3f7;
      }

      .icon-money {
        color: #f4516c;
      }

      .icon-shopping {
        color: #34bfa3
      }

      .card-panel-icon-wrapper {
        float: left;
        margin: 14px 0 0 14px;
        padding: 16px;
        transition: all 0.38s ease-out;
        border-radius: 6px;
      }

      .card-panel-icon {
        float: left;
        font-size: 48px;
      }

      .card-panel-description {
        float: right;
        font-weight: bold;
        margin: 26px;
        margin-left: 0px;

        .card-panel-text {
          line-height: 18px;
          color: rgba(0, 0, 0, 0.45);
          font-size: 16px;
          margin-bottom: 12px;
        }

        .card-panel-num {
          font-size: 20px;
        }
      }
    }
  }

  @media (max-width:550px) {
    .card-panel-description {
      display: none;
    }

    .card-panel-icon-wrapper {
      float: none !important;
      width: 100%;
      height: 100%;
      margin: 0 !important;

      .svg-icon {
        display: block;
        margin: 14px auto !important;
        float: none !important;
      }
    }
  }
</style>
