<template>
  <div class="app-container">
    <el-card class="box-card">
      <div slot="header">
        <h4>Dropship Manage</h4>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-form ref="postForm" :inline="true">
          <el-form-item prop="title" :span="8" label="Order Site ID">
            <el-input type="text" v-model="filterForm.order_vendor_id" />
          </el-form-item>
          <el-form-item prop="Order Status" :span="8" label="Order Status">
            <el-select v-model="filterForm.order_status" placeholder="Status" style="width: 100%">
              <el-option
                v-for="item in orderStatusList"
                :key="item.id"
                :label="item.value"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="listDropship">Filter</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-table
          v-loading="loading"
          :data="dropships"
          style="width: 100%"
          :row-class-name="tableRowClassName"
        >
          <el-table-column
            prop="order_vendor_id"
            label="ORDER WEBSITE ID"
            width="180"
          />
          <el-table-column
            prop="id"
            label="Dropship User"
            width="180"
          >
            <template slot-scope="scope">
              <span v-if="scope.row.user">
                  {{ scope.row.user.email }}
              </span>
            </template>
          </el-table-column>
          <el-table-column
            prop="order_status"
            label="Order Status"
          >
            <template slot-scope="scope">
              <span >
                  {{ getStatusMap(scope.row.order_status) }}
              </span>
            </template>
          </el-table-column>
          <el-table-column
            prop="first_name"
            label="First Name"
          />
          <el-table-column
            prop="last_name"
            label="Last Name"
          />
          <el-table-column
            prop="postcode"
            label="POSTCODE"
          />
          <el-table-column
            prop="shipping_country"
            label="SHIP COUNTRY"
          />
          <el-table-column
            prop="total"
            label="Total"
          >
            <template slot-scope="scope">
              <span v-if="scope.row.total">
                  {{ scope.row.total }}
              </span>
            </template>
          </el-table-column>
          <el-table-column  prop="created_at" label="Created At"/>
          <el-table-column
            fixed="right"
            label=""
          >
            <template slot-scope="scope">
              <router-link :to="{ path: `/dropship/view/${scope.row.id}`}" tag="button" class="el-button el-button--default el-button--mini">View</router-link>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-card>
  </div>
</template>
<script>
  import {listData} from '@/api/dropship'
  export default {
    name: 'Dropship',
    data() {
      return {
        dropships: [],
        loading: true,
        currentPage: 1,
        perPage: 1,
        total: 1,
        orderStatusList : [
          {id: 0, value: 'Pending'},
          {id: 1, value: 'Success'},
          {id: 2, value: 'Cancel'},
        ],
        filterForm: {
          order_status: '',
          order_vendor_id: '',
        }
      }
    },
    created() {
      this.listDropship()
    },
    methods: {
      listDropship(page=1) {
        const VueThat = this
        const params = {
          page: page,
          order_status: this.filterForm.order_status,
          order_vendor_id: this.filterForm.order_vendor_id,
        }
        listData(params).then((res) => {
          const { data } = res
          VueThat.currentPage = data.current_page
          VueThat.perPage = data.per_page
          VueThat.total = data.total
          VueThat.dropships = data.data
          VueThat.loading = false
        })
      },
      tableRowClassName({ row, rowIndex }) {
        if (rowIndex === 1) {
          return 'warning-row'
        } else if (rowIndex === 3) {
          return 'success-row'
        }
        return ''
      },
      getStatusMap(order_status) {
        return this.orderStatusList[order_status].value
      }
    }
  }
</script>
