<template>
  <el-card class="box-card">
    <div slot="header">
      <h4>Dropship INFO ID WEBSITE #{{ dropshipInfo.order_vendor_id }}</h4>
    </div>
    <el-row>
      <el-col :span="18">
        <div class="block" style="margin-top: 40px">
          <el-row>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label >FIRST NAME:</label><br/>
                <span>{{ dropshipInfo.first_name}}</span>
              </p>
            </el-col>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label >LAST NAME:</label><br/>
                <span>{{ dropshipInfo.last_name}}</span>
              </p>
            </el-col>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label >Company:</label><br/>
                <span>{{ dropshipInfo.company}}</span>
              </p>
            </el-col>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label >Address 1:</label><br/>
                <span>{{ dropshipInfo.address_1}}</span>
              </p>
            </el-col>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label >Address 2:</label><br/>
                <span>{{ dropshipInfo.address_2}}</span>
              </p>
            </el-col>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label >City:</label><br/>
                <span>{{ dropshipInfo.city}}</span>
              </p>
            </el-col>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label >State:</label><br/>
                <span>{{ dropshipInfo.state}}</span>
              </p>
            </el-col>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label >Postcode:</label><br/>
                <span>{{ dropshipInfo.postcode}}</span>
              </p>
            </el-col>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label>Shipping Country:</label><br/>
                <span>{{ dropshipInfo.shipping_country}}</span>
              </p>
            </el-col>
            <el-col :span="4">
              <p class="form-field form-field-wide">
                <label>Order Status:</label><br/>
                <el-select v-model="dropshipInfo.order_status" placeholder="Select">
                  <el-option
                    v-for="item in orderStatusList"
                    :key="item.id"
                    :label="item.value"
                    :value="item.id">
                  </el-option>
                </el-select>
              </p>
            </el-col>
          </el-row>
        </div>
        <div class="block" style="margin-top: 20px">
          <el-button type="primary" @click="updateOrderItem">Save</el-button>
        </div>
        <div class="block" style="margin-top: 40px">
          <el-table
            v-if="dropshipInfo.order_ship_item"
            v-loading="loading"
            :data="dropshipInfo.order_ship_item"
          >
            <el-table-column
              prop="product_name"
              label="PRODUCT NAME"
            />
            <el-table-column
              prop="quantity"
              label="Quantity"
            />
            <el-table-column
              prop="total_source"
              label="Total"
            >
              <template slot-scope="scope">
                <el-input type="numb" size="small" v-model="scope.row.total_source" />
              </template>
            </el-table-column>
            <el-table-column
              prop="total_tax"
              label="Tax"
            >
              <template slot-scope="scope">
                <el-input type="numb" size="small" v-model="scope.row.total_tax" />
              </template>
            </el-table-column>
            <el-table-column
              label="Sub Total"
            >
              <template slot-scope="scope">
                <span>{{ (parseFloat(scope.row.total_source)  * scope.row.quantity) + parseFloat(scope.row.total_tax) }}</span>
              </template>
            </el-table-column>
          </el-table>
          <div class="el-table el-table__body-wrapper is-scrolling-none">
            <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%">
              <tbody>
              <tr class="el-table__row">
                <td></td>
                <td></td>
                <td></td>
                <td><div class="cell"><b>Total Tax</b></div></td>
                <td><div class="cell">{{ formatPrice(totalTax) }}</div></td>
              </tr>
              <tr class="el-table__row">
                <td></td>
                <td></td>
                <td></td>
                <td><div class="cell"><b>Shipping</b></div></td>
                <td><div class="cell">
                  <el-input type="numb" size="small" v-model="dropshipInfo.shipping_total" />
                </div></td>
              </tr>
              <tr class="el-table__row">
                <td></td>
                <td></td>
                <td></td>
                <td><div class="cell"><b>Total Order</b></div></td>
                <td><div class="cell">{{ formatPrice(totalOrder) }}</div></td>
              </tr>
              <tr class="el-table__row">
                <td></td>
                <td></td>
                <td></td>
                <td><div class="cell"><b>Sub Total </b></div></td>
                <td><div class="cell">{{ formatPrice(subTotal) }}</div></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="block">
          <el-input
            type="textarea"
            :rows="2"
            placeholder="Please input"
            v-model="note">
          </el-input>
          <el-button type="primary" @click="createNoteOrder">Add Note</el-button>
        </div>
        <div class="block timeline-order" style="margin-top: 40px">
          <el-timeline>
            <el-timeline-item v-for="(note, key) in listNote" :key="key" :timestamp="note.created_at" placement="top">
              <el-card>
                <p>{{ note.note }}</p>
              </el-card>
            </el-timeline-item>

          </el-timeline>
        </div>
      </el-col>
    </el-row>

  </el-card>
</template>
<script>
  import {viewData, updateData, createNote, listNote} from '@/api/dropship'
  export default {
    name: 'ViewDropship',
    created() {
      this.viewDataDropship(this.$route.params.id)
      listNote(this.$route.params.id).then((res) => {
        const {notes} = res
        this.listNote = notes
      })
    },
    data() {
      return {
        dropshipInfo: {},
        loading: true,
        note: '',
        listNote: [],
        orderStatusList : [
          {id: 0, value: 'Pending'},
          {id: 1, value: 'Success'},
          {id: 2, value: 'Cancel'},
        ]
      }
    },
    computed: {
      totalOrder: function() {
        let total = 0
        if(this.dropshipInfo.order_ship_item) {
          this.dropshipInfo.order_ship_item.forEach(function(item) {
            total += parseFloat(item.total_source) * item.quantity
          })
        }
        return total
      },
      totalTax: function() {
        let total = 0
        if(this.dropshipInfo.order_ship_item) {
          this.dropshipInfo.order_ship_item.forEach(function (item) {
            total += parseFloat(item.total_tax)
          })
        }
        return total
      },
      subTotal:function() {
        let total = 0
        if(this.dropshipInfo.order_ship_item) {
          this.dropshipInfo.order_ship_item.forEach(function(item) {
            total += (parseFloat(item.total_source) * item.quantity) + parseFloat(item.total_tax)
          })
          total += parseFloat(this.dropshipInfo.shipping_total)
        }
        return total
      }
    },
    methods: {
      viewDataDropship(id) {
        viewData(id).then((res) => {
          const {dropship} = res
          this.dropshipInfo = dropship
          this.loading = false
        })
      },
      formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      onInput(event, row) {
        const value = event.target.innerText;
        this.dropshipInfo.order_ship_item[row.$index].total_source = value
        console.log(value, row.$index)
      },
      updateOrderItem() {
        this.$confirm('Are you ready update order item?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          updateData(this.$route.params.id, this.dropshipInfo).then((res) => {
            const {status} = res
            if (status === true) {
              this.$message({
                type: 'success',
                message: 'Update Order Item Success'
              })
            }
          })
        })

      },
      createNoteOrder() {
        this.$confirm('Are you ready add Note ?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          createNote(this.$route.params.id, {
            note: this.note,
          }).then((res) => {
            this.note = ''
            const {note} = res
            this.listNote.unshift(note)
            this.$message({
              type: 'success',
              message: 'Add Note Success'
            })
          })
        })

      }
    }
  }
</script>
<style >
p.form-field-wide > span {
  font-weight: 400;
  margin-top: 10px;
  display: block;
}
.el-table__row .el-input .el-input__inner{
  border-style:none;
}
.hover-row .el-input .el-input__inner{
  border-style:solid;
}
.timeline-order {
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
}
.timeline-order::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
  border-radius: 10px;
}
</style>
