<template>
  <div class="app-container">
    <el-card class="box-card">
      <div slot="header">
        <h4>Pay ({{ from }}--{{ to }})</h4>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-form ref="postForm" :inline="true">
          <el-form-item prop="title" :span="8" label="Month">
            <el-select v-model="month" placeholder="Select">
              <el-option
                v-for="(k,v) in dataMonth"
                :key="k"
                :label="k"
                :value="v"
              />
            </el-select>
          </el-form-item>
          <el-form-item prop="title" :span="8" label="Year">
            <el-select v-model="year" placeholder="Select">
              <el-option
                v-for="(k,v) in dataYear"
                :key="k"
                :label="k"
                :value="v"
              />
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="getPaymonth">Filter</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-button type="primary" @click="pay">Pay Now</el-button>
        <el-table
          v-loading="loading"
          :data="orderMonth"
          style="width: 100%"
          :row-class-name="tableRowClassName"
        >
          <el-table-column
            prop="name"
            label="Name"
          />
          <el-table-column
            prop="email"
            label="Email"
          />
          <el-table-column
            prop="total_order"
            label="Total Order"
          />
          <el-table-column
            prop="money"
            label="Money"
          />
          <el-table-column
            label="Pay"
          >
            <template slot-scope="scope">
              <el-tag v-if="scope.row.is_pay === 1" type="success">Pay</el-tag>
              <el-tag v-if="scope.row.is_pay === 0" type="danger">UnPay</el-tag>
            </template>
          </el-table-column>
          <el-table-column
            fixed="right"
            label=""
          >
            <template slot-scope="scope">
              <el-button type="primary" @click="payUserData(scope.row)">View Order</el-button>
              <el-button type="primary" @click="getViewOrderFormTo(scope.row)">View Order</el-button>
            </template>
          </el-table-column>

        </el-table>
      </div>
    </el-card>
    <el-dialog
      :title="title"
      :visible.sync="dialogVisible"
      width="80%"
    >
      <el-table
        :data="orderPopup"
        style="width: 100%"
      >
        <el-table-column
          prop="vendor_id"
          label="ORDER ID"
        />
        <el-table-column
          label="Full Name"
        >
          <template slot-scope="scope">
            {{ scope.row.first_name }}  {{ scope.row.last_name }}
          </template>
        </el-table-column>

        <el-table-column
          prop="order_total"
          label="Order Total"
        />
        <el-table-column
          prop="order_tax"
          label="Total Tax"
        />
        <el-table-column
          prop="order_refund"
          label="Total Refund"
        />
        <el-table-column
          prop="total"
          label="Total (total+tax-refund) "
        />
        <el-table-column
          prop="order_status"
          label="Order Status"
        >
          <template slot-scope="scope">
            <el-tag v-if="scope.row.is_pay === 0" :type="getStatusPaymentTag(scope.row.order_status)">
              {{ getStatusPayment(scope.row.order_status) }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column
          prop="commission_user"
          label="Commission User"
        >
          <template slot-scope="scope">
            {{ scope.row.commission_user }} %
          </template>
        </el-table-column>
        <el-table-column
          prop="order_commission"
          label="Total Commission"
          width="180"
        >
          <template slot-scope="scope">
            {{ scope.row.order_commission }}
            <el-tag v-if="scope.row.is_pay === 0" type="danger">
              Un Paid
            </el-tag>
            <el-tag v-if="scope.row.is_pay === 1" type="success">
              Paid
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="created_at" label="Created At" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { payMonth, payNow, viewOrderFormTo, payUser } from '@/api/order'
import orderStatusData from '@/views/order/order_status.json'
export default {
  name: 'Pay',
  data() {
    return {
      orderMonth: [],
      from: '',
      to: '',
      loading: true,
      month: '',
      year: '',
      dataMonth: {
        '01': '01',
        '02': '02',
        '03': '03',
        '04': '04',
        '05': '05',
        '06': '06',
        '07': '07',
        '08': '08',
        '09': '09',
        '10': '10',
        '11': '11',
        '12': '12'
      },
      dataYear: {
        2021: 2021,
        2022: 2022,
        2023: 2024
      },
      orderPopup: [],
      dialogVisible: false,
      title: ''
    }
  },
  created() {
    this.getPaymonth()
  },
  methods: {
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 1) {
        return 'warning-row'
      } else if (rowIndex === 3) {
        return 'success-row'
      }
      return ''
    },
    getPaymonth() {
      this.loading = true
      payMonth({
        month: this.month,
        year: this.year
      }).then((res) => {
        const { data, from, to, month, year } = res
        this.orderMonth = data
        this.from = from
        this.to = to
        this.loading = false
        this.month = month
        this.year = year
      })
    },
    pay() {
      this.$confirm(`Are you ready pay now from ${this.from}-${this.to}`, 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        payNow({ from: this.from, to: this.to }).then((res) => {
          this.$message({
            type: 'success',
            message: 'Pay now success'
          })
          this.getPaymonth()
        })
      })
    },
    getViewOrderFormTo(data) {
      viewOrderFormTo(data.id, { from: this.from, to: this.to }).then((res) => {
        const { data } = res
        this.orderPopup = data
        this.title = `Order for ${data.name} from ${this.from} - to ${this.to}`
        this.dialogVisible = true
      })
    },
    getStatusPayment(status) {
      return orderStatusData[status].name
    },
    getStatusPaymentTag(status) {
      return orderStatusData[status].tag
    },
    payUserData(data) {
      this.$confirm(`Are you ready pay now from ${this.from}-${this.to} to ${data.name}`, 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        payUser({ from: this.from, to: this.to, user_id: data.id }).then((res) => {
          this.$message({
            type: 'success',
            message: 'Pay now success'
          })
          this.getPaymonth()
        })
      })
    }
  }
}
</script>
