<template>
  <div class="app-container">
    <el-card class="box-card">
      <div slot="header">
        <h4>User Manage</h4>
      </div>
      <div class="block">
        <el-button type="primary" @click="createForm">
          Create
        </el-button>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-form ref="postForm" :inline="true">
          <el-form-item prop="title" :span="8" label="Email">
            <el-input type="text" v-model="filterForm.email" />
          </el-form-item>
          <el-form-item prop="title" :span="8" label="User Status">
            <el-select v-model="filterForm.user_status" placeholder="Status" style="width: 100%">
              <el-option
                v-for="item in dataStatus"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="title" :span="8" label="User Level">
            <el-select v-model="filterForm.user_level" placeholder="Level" style="width: 100%">
              <el-option
                v-for="item in dataLevel"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="loadUserData">Filter</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-table
          v-loading="loading"
          :data="user"
          style="width: 100%"
          :row-class-name="tableRowClassName"
        >
          <el-table-column
            prop="id"
            label="ID"
            width="50"
          />
          <el-table-column
            prop="name"
            label="Name"
            width="180"
          />
          <el-table-column
            prop="email"
            label="Email"
          />
          <el-table-column
            prop="user_level"
            label="Level"
            width="180"
          >
            <template slot-scope="scope">
              <el-tag v-if="scope.row.user_level === 1">Admin</el-tag>
              <el-tag v-if="scope.row.user_level === 2">User</el-tag>
            </template>
          </el-table-column>
          <el-table-column
            prop="ref_code"
            label="Ref Code"
          >
            <template slot-scope="scope">
              <el-tag >{{ scope.row.ref_code }}</el-tag>
              <el-button style="margin-left: 10px" type="success" icon="el-icon-copy-document" circle @click="copyUrl(scope.row)"></el-button>
            </template>
          </el-table-column>
          <el-table-column
            prop="coupon_referral"
            label="Coupon Referral"
          >
            <template slot-scope="scope">
              <el-tag v-if="scope.row.coupon_referral != null">{{ scope.row.coupon_referral }}</el-tag>
            </template>
          </el-table-column>
          <el-table-column
            prop="cookie_duration"
            label="Cookie Duration"
          />
          <el-table-column
            prop="created_at"
            label="Created At"
          />
          <el-table-column
            fixed="right"
            label=""
          >
            <template slot-scope="scope">
              <el-button type="primary"  @click="view(scope.row)" icon="el-icon-edit"></el-button>
              <el-button type="danger"  @click="deleteUser(scope.row)" icon="el-icon-delete"></el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="block" style="margin-top: 40px">
        <el-pagination
          background
          layout="prev, pager, next"
          :total="total"
          :page-size="perPage"
          :current-page="currentPage"
          @current-change="changePage"

        />
      </div>
    </el-card>
    <el-dialog
      title="FormUser"
      :visible.sync="dialogForm"
      width="70%"
    >
      <FormUser :id="id" :user="userFrom" :disable-input="disableInput" @createUser="createUser" @updateUser="updateUser" />
    </el-dialog>
  </div>
</template>
<script>
import { listUser, deleteUser } from '@/api/user'
export default {
  name: 'User',
  components: {
    FormUser: () => import('./components/FormUser')
  },
  data() {
    return {
      loading: true,
      user: [],
      currentPage: 1,
      perPage: 1,
      total: 1,
      dialogForm: false,
      userFrom: {},
      disableInput: true,
      id: 0,
      filterForm : {
        email: '',
        user_status: '',
        user_level: ''
      },
      dataStatus: [
        {name: 'Active', 'id': 1},
        {name: 'Disable', 'id': 0},
      ],
      dataLevel: [
        {name: 'User', 'id': 2},
        {name: 'Admin', 'id': 1},
      ],
    }
  },
  created() {
    this.loadUserData()
  },
  methods: {
    loadUserData(page=1) {
      const VueThat = this
      const filterParams = {
        page: page,
        email: this.filterForm.email,
        user_status: this.filterForm.user_status,
        user_level: this.filterForm.user_level
      }
      listUser(filterParams).then((res) => {
        const { data } = res
        VueThat.currentPage = data.current_page
        VueThat.perPage = data.per_page
        VueThat.total = data.total
        VueThat.user = data.data
        VueThat.loading = false
      })
    },
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 1) {
        return 'warning-row'
      } else if (rowIndex === 3) {
        return 'success-row'
      }
      return ''
    },
    view(user) {
      this.userFrom = user
      this.id = user.id
      this.disableInput = true
      this.dialogForm = true
    },
    createUser(user) {
      console.log('create', user)
      this.user.unshift(user)
      this.dialogForm = false
    },
    updateUser(user) {
      this.dialogForm = false
      this.loadUserData()
    },
    createForm() {
      this.dialogForm = true
      this.disableInput = false
      this.userFrom = {}
      this.id = 0
    },
    deleteUser(user) {
      const dataUser = user
      const VueThat = this
      this.$confirm('Delete User ' + user.email, 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        deleteUser(dataUser.id).then((res) => {
          VueThat.user = VueThat.user.filter(function(value, index, arr) {
            return (value.id !== dataUser.id)
          })
          VueThat.$message({
            type: 'success',
            message: 'Delete Email ' + user.email + ' Success'
          })
        })
      })
    },
    changePage(page) {
      this.loadUserData(page)
    },
    async copyUrl(data) {
      let linkAff = 'https://theswisshemp.com/?ref='+data.ref_code
      await navigator.clipboard.writeText(linkAff);
      this.$message({
        type: "success",
        message: 'Copy Link Aff Success'
      })
    }
  }
}
</script>
<style scoped>
  .el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }
</style>
