<template>
  <el-form ref="postForm" :model="userForm" :rules="rules" >
    <el-form-item  prop="title">
      <MDinput v-model="userForm.name" :disabled="disableInput" :maxlength="100" name="name" required>
        Name
      </MDinput>
    </el-form-item>

    <el-form-item  prop="title">
      <MDinput v-model="userForm.email" :disabled="disableInput" type="email" :maxlength="100" name="email" required>
        Email
      </MDinput>
    </el-form-item>
    <el-form-item label="User Level" prop="title">
      <el-select v-model="userForm.user_level" placeholder="Level" >
        <el-option
          v-for="item in dataLevel"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item  prop="title" label="User Status">
      <el-select v-model="userForm.user_status" placeholder="Status" >
        <el-option
          v-for="item in dataStatus"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item style="margin-bottom: 40px;" prop="title">
      <MDinput v-model="userForm.commission"  :maxlength="100" name="email" required>
        Commission
      </MDinput>
    </el-form-item>
    <el-form-item  prop="title" label="Ref Code">
      <el-input placeholder="REF Code" v-model="userForm.ref_code" :disabled="disableInput">
        <template slot="prepend">https://theswisshemp.com?ref=</template>
        <el-button slot="append" icon="el-icon-refresh" @click="ramdomApiKey"></el-button>
      </el-input>
    </el-form-item>
    <el-form-item style="margin-bottom: 40px;" prop="title">
      <MDinput v-model="userForm.coupon_referral"  :maxlength="100" name="email" required>
        Coupon Referral
      </MDinput>
    </el-form-item>
    <el-form-item  prop="title">
      <MDinput v-model="userForm.cookie_duration"  type="number"  :maxlength="100" name="email" required>
        Cookie Duration
      </MDinput>
    </el-form-item>
    <el-form-item prop="title">
      <MDinput v-model="userForm.password" type="password" :maxlength="100" name="password" required>
        Password
      </MDinput>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">Save</el-button>
    </el-form-item>
  </el-form>
</template>
<script>

import { saveUser, updateUser, createApiKey } from '@/api/user'
const userFormDefault = {
  name: '',
  email: '',
  password: '',
  user_level: 2,
  user_status: 1,
  ref_code: '',
  coupon_referral: '',
  cookie_duration: 0,
  commission: 0
}

export default {
  name: 'FormUser',
  components: {
    MDinput: () => import('@/components/MDinput')
  },
  props: {
    user: {
      default: function() {
        return {}
      },
      type: Object
    },
    id: {
      default: 0,
      type: Number
    },
    disableInput: {
      default: true,
      type: Boolean
    }
  },
  data() {
    return {
      userForm: Object.assign({}, userFormDefault),
      rules: {
      },
      dataStatus: [
        {name: 'Active', 'id': 1},
        {name: 'Disable', 'id': 0},
      ],
      dataLevel: [
        {name: 'User', 'id': 2},
        {name: 'Admin', 'id': 1},
      ],
    }
  },
  watch: {
    user: function(newVal, oldVal) {
      if (Object.keys(newVal).length !== 0) {
        this.userForm = newVal
      } else {
        this.userForm = userFormDefault
      }
    }
  },
  created() {
    if (Object.keys(this.user).length !== 0) {
      this.userForm = this.user
    } else {
      this.userForm = userFormDefault
    }
  },
  methods: {
    onSubmit() {
      if (this.id === 0) {
        this.saveUser()
      } else {
        this.updateUser()
      }
    },
    saveUser() {
      const VueThat = this
      saveUser(this.userForm).then((res) => {
        VueThat.$notify({
          title: 'Save User',
          message: 'Success',
          type: 'success',
          duration: 2000
        })
        VueThat.userForm = Object.assign({}, userFormDefault)
        const { user } = res
        VueThat.$emit('createUser', user)
      })
    },
    updateUser() {
      const VueThat = this
      updateUser(this.id, {
        name: this.user.name,
        password: this.user.password,
        api_key: this.user.api_key,
        user_level: this.user.user_level,
        user_status: this.user.user_status,
        ref_code: this.user.ref_code,
        coupon_referral: this.user.coupon_referral,
        cookie_duration: this.user.cookie_duration,
        commission: this.user.commission
      }).then((res) => {
        VueThat.$notify({
          title: 'Update User',
          message: 'Success',
          type: 'success',
          duration: 2000
        })
        VueThat.$emit('updateUser', 'ok')
      })
    },
    ramdomApiKey() {
      createApiKey().then((res) => {
        const {apiKey} = res
        this.userForm.ref_code = apiKey
      })
    }
  }
}
</script>
<style>

</style>
